/* CSS declarations go here */


header{ 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header .item{
    color: #666;
}

header a{
    display: inline-block;
    text-decoration: none;
    color: #df4f1a;
    margin-right: 35px;
    margin-top: 10px;
}

header a:last-child{
    margin-right: 0;
}

header a:hover{
    color: #aa3a10;
}

header img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 32px;
    margin-top: 25px;
}

.banner img{
    width: 100%;
}

a.call-to-action{
    font-size: 5.7rem;
    color: #fff;
    line-height: 6.7rem;
    font-family: Raleway-Bold;
    position: absolute;
    right: 50rem;
    top: 32.5rem;
    border: 0.8rem solid white;
    z-index: 2;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    text-decoration: none;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

a.call-to-action:hover{
    opacity: 1;
}


.what{
    background-color: #fff;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.what p {
    text-align: center;
    font-size: 3rem;
    color: #3f4045;
    line-height: 5.5rem;
}

.what img{
    width: 15rem;
    margin-top: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto; 

}

.who { 
    padding-top: 16rem;
    padding-bottom: 16rem;
    background-color: #f7f5f5;
    text-align: right;
}

.who span{
    font-size: 4.3rem;
    color: #222222;
    line-height: 5.6rem;
}

.how{
    background-color: #f7f5f5;
    padding-bottom: 12rem;
    padding-top: 7rem;
}

.how h2{
    background-color: #f7f5f5;
    margin-left: 9.6rem;
    margin-bottom: 0;
    font-size: 2.5rem;
}

.how h3{
    font-size: 20px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 6px;
}

.how .lead{
    font-size: 1.8rem;
    margin-left: 9.6rem;
    margin-bottom: 5rem;

}

.how .cards .card{
    background-color: #fff;
    height: 30rem;
    width: 23rem;
    float: left;
    margin-left: 10rem;
}

.how .cards .card p{
    color: #000000;
    line-height: 2.3rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
}

.how .cards .card img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5rem;
}

#third img{
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
}

#fourth img{
    margin-bottom: 5rem;
    margin-top: 3rem;
}

footer{
    background-color: #454850;
}

footer p{
    margin-bottom: 0;
    color: #fff;
    padding-bottom: 1rem;
}

footer img{
    width: 100%;
}

/*Form styles*/

p { 
  margin-bottom: 0;
}

.tell-your-story-form{
  margin-top: 3rem;
}

.tell-your-story-form p{
  font-weight: 600;
  color: #454850;
  font-size: 2.6rem;
  line-height: 5.6rem;
}


.step1 p, .step2 p{
  margin-bottom: 0;
}


#question4{
    width: 41%;
    float: left;
    font-size: 2.6rem;
}

input::-webkit-input-placeholder {
    color: rgba(198, 49, 135, 1);
}
input::-moz-placeholder {
    color: rgba(198, 49, 135, 1);
}
input:-moz-placeholder {   /* Older versions of Firefox */
    color: rgba(198, 49, 135, 1);
}
input:-ms-input-placeholder { 
    color: rgba(198, 49, 135, 1);
}

.your-name{
    border: none;
    color: #B7D43A;
    margin-bottom: 0;
    float: left;
    margin-top: 12px;
}

.your-name:focus{
    outline: none;
}

.company-name{
    border: none;
    color: #B7D43A;
    width: 26%;
    float: right;
    margin-top: 1.2rem;
}

select{
  margin-bottom: 0;
}

.company-type, .disruption-type{
  margin-top: 0.8rem;
}

.company-name:focus{
    outline: none;
}

/*.step2{
  float: left;
}*/

.step7, .step8{
  float: left;
}

.step8 p{
  margin-left: 1rem;
}

.step5, .step5-no{
  float: left;
}

.step5 input{
    margin-top: 7px;
    margin-left: 7px;
}

.step5 em{
  color: #C63187;
  font-size: 3rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.step9 textarea{
  min-height: 10rem;
}

.regular-form .step10 p {
    line-height: 3rem;
    margin-bottom: 6rem;
    margin-top: 3rem;
}

.step10 input{
  width: 100%;
  font-size: 1.8rem;
  color: #999;
}

.step10 label{
  font-size: 2rem;
  font-weight: 400;
}

.step10 textarea{
  width: 100%;
  min-height: 14rem;
  font-size: 1.8rem;
  color: #999;
}

.question{
  margin-bottom: 2rem;
}

.hide{
    display: none;
}

.send-message{
  background-color: #F7F5F5;
  font-size: 3rem;
  margin-top: 2rem;
  padding-top: 6rem;
  padding-bottom: 11rem;
  line-height: 5rem;
}

.green{
  color: #C63187; 
}

.disruption-type{
  width: 38%;
}

/*color: #B7D43A; (green)*/
/*color: #C63187; (pink)*/



