/* CSS declarations go here */

header{ 
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3.4rem;
  background-color: white;
}

nav{
  float: right;
  padding-right: 3.1rem;
}

header a{
  display: inline-block;
  text-decoration: none;
  margin-right: 35px;
  margin-top: 10px;
  color: #999;
  cursor: pointer;
  -webkit-transition: 0.2s ;
  -moz-transition: 0.2s ;
  -ms-transition: 0.2s ;
  -o-transition: 0.2s ;
  transition: 0.2s;
}

header a:last-child{
    margin-right: 0;
}

header a:hover{
    color: #333;
}

header img{ 
  width: 15%;
}

.jambo-tron{
  background-image: url(banner.png);
  overflow: hidden;
  height: 85rem;
  width: 100%;
  background-size: cover;
  box-sizing: border-box;
  border-left: 3rem solid white;
  border-right: 3rem solid white;
}

.jambo-tron p{
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 125%;
  width: 51%;
  margin-left: 25%;
  margin-top: 19%;
  margin-bottom: 3%;
}

a.call-to-action{
  font-size: 2.7rem;
  color: #fff;
  font-family: "raleway-bold", arial, sans-serif;
  text-decoration: none;
  border: 0.5rem solid white;
  padding: 1rem 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  display: block;
  width: 60%;
  margin-left: 19%;
  margin-top: 6%;
}

a.call-to-action:hover{
    opacity: 1;
}

.what{
    padding-top: 12rem;
    padding-bottom: 16rem;
}

.what h3{
  width: 54%;
  margin-bottom: 42px;
  font-family: "raleway-bold", arial, sans-serif;
  color: #4a4a4a;
  font-size: 2.5rem;
}

.what p{
    font-size: 1.8rem;
    width: 73%;
}

.what img{
    width: 15rem;
    margin-top: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto; 

}

.how{
  background-color: #f7f5f5;
  padding-bottom: 16rem;
  padding-top: 13rem;
}

.how h2{
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-family: "raleway-bold", arial, sans-serif;
  color: #4a4a4a;
}

.how .lead{
  font-size: 1.8rem;
  line-height: 140%;
  width: 59%;
  color: #4a4a4a;

  }

.how .cards .card{
  background-color: #fff;
  width: 190px;
  height: 200px;
  float: left;
  margin-right: 55px;
  margin-top: 55px;
}

.how .cards .pink-border{
    border-bottom: 5px solid #C63187;
}

.how .cards .green-border{
    border-bottom: 5px solid #B7D43A;
}

.how .cards .card p{
    color: #4a4a4a;
    line-height: 2.3rem;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 1.6rem;
}

.how .cards .card img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 43%;
  margin-top: 27px;
  margin-bottom: 20px;
  }


.quote p{
  margin-left: 15rem;
  font-size: 36px;
  width: 50%;
  margin-top: 15rem;
  margin-bottom: 12rem;
  color: #C6C6C6;
  font-family: Raleway-light, arial, sans-serif;
  line-height: 120%;
}

.quote img{
  width: 12%;
  margin-left: 15rem;
  margin-bottom: 12rem;
}

.jambo-tron-footer{
  background-image: url(footer-bg.png);
  overflow: hidden;
  width: 100%;
  background-size: cover;
  box-sizing: border-box;
  border-left: 3rem solid white;
  border-right: 3rem solid white;
  height: 56rem;
}

.jambo-tron-footer p{
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 125%;
  width: 51%;
  margin-left: 25%;
  margin-top: 19%;
  margin-bottom: 3%;
}

.jambo-tron-footer .get-in-touch{
  display: block;
  font-size: 2.7rem;
  color: #fff;
  font-family: "raleway-bold", arial, sans-serif;
  text-decoration: none;
  border: 0.5rem solid white;
  padding: 1rem 0;
  width: 60%;
  margin-left: 20%;
  margin-top: 6%;

}

footer p{
  margin-bottom: 0;
  color: #999;
  padding-bottom: 1rem;
  margin-left: 3rem;
}

footer img{
  width: 100%;
  box-sizing: border-box;
  border-left: 3rem solid white;
  border-right: 3rem solid white;
}

#copyright{
  margin-left: 3rem;
  margin-top: 1rem;
  color: #ddd;
  font-size: 1.1rem;
}

/*Form styles*/

p { 
  margin-bottom: 0;
}

.tell-your-story-form{
  margin-top: 3rem;
}

.tell-your-story-form p{
  font-weight: 600;
  color: #454850;
  font-size: 2.6rem;
  line-height: 5.6rem;
}

.step1{
  text-align: center;
}

.step1 p, .step2 p{
  margin-bottom: 0;
}


#question4{
    width: 41%;
    float: left;
    font-size: 2.6rem;
}

input::-webkit-input-placeholder {
    color: #888888;
}
input::-moz-placeholder {
    color: #888888;
}
input:-moz-placeholder {   /* Older versions of Firefox */
    color: #888888;
}
input:-ms-input-placeholder { 
    color: #888888;
}

.regular-form input::-webkit-input-placeholder, .step10 textarea::-webkit-input-placeholder {
    color: #c0c0c0;
    font-style: italic;
}

.regular-form input::-moz-placeholder, .step10 textarea::-moz-placeholder {
    color: #c0c0c0;
    font-style: italic;
}

.regular-form input:-moz-placeholder, .step10 textarea:-moz-placeholder {   /* Older versions of Firefox */
    color: #c0c0c0;
    font-style: italic;    
}

.regular-form input:-ms-input-placeholder, .step10 textarea:-ms-input-placeholder { 
    color: #c0c0c0;
    font-style: italic;    
}

select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  margin-bottom: 0;
  border-bottom: 1px solid #C63187;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.your-name{
  border: none;
  color: #C63187;
}

.your-name:focus{
    outline: none;
}

.company-name{
    border: none;
    color: #C63187;
    width: 26%;
    margin-top: 1.2rem;
    font-weight: 400;
}


.company-type, .disruption-type{
  margin-top: 0.8rem;
}

.company-name:focus{
    outline: none;
}

.animate{
  animation-duration: .5s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

.animate-out{
  animation-duration: .5s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes scaleAndFade {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(.9, .9);
    }
}


.step7, .step8{
  float: left;
}

.step5, .step5-no{
  float: left;
}

.step5 input{
    margin-top: 7px;
    margin-left: 7px;
}

.step5 em{
  color: #C63187;
  font-size: 3rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.regular-form .step10 p {
  line-height: 3rem;
  margin-bottom: 6rem;
  margin-top: 3rem;
}

.step10 input{
  width: 100%;
  font-size: 1.8rem;
  color: #999;
}

.step10 label{
  font-size: 2rem;
  font-weight: 400;
}

.step10 button{
  width: 100%
}

.step10 textarea{
  width: 100%;
  min-height: 14rem;
  font-size: 1.8rem;
  color: #999;
}

.question{
  margin-bottom: 2rem;
}

.hide{
    display: none;
}

.send-message{
  background-color: #F7F5F5;
  font-size: 3rem;
  margin-top: 2rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  line-height: 5rem;
  text-align: center;

}

.pink{
  color: #C63187; 
}

.disruption-type{
  width: 36rem;
}

.form-inline{
  margin: 0 auto;
  width: 50%;
  font-size: 2.5rem;
  color: #454850; 
  }

.form-inline label{
  float: left;
  margin-right: 1rem;
  } 

.form-inline input{
  width: 42%;
}

.step5-no input, .step7-no input{
  border: none;
  width: 27%;
}

.step7-no textarea, .step9 textarea {
  width: 100%;
  border: none;
  min-height: 3em;
  padding-left: 0;

}

input.company-area{
  width: 17em;
}

.simplefooter{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 13px;
  padding-left: 20px;
  color: #C0C0C0;
  font-size: 12px;
}

.go-back-btn{
  width: 300px;
  margin-left: 300px;
  margin-top: 45px;
}

body {
  margin-bottom: 3rem;
}

@media (max-width: 768px){
  .jambo-tron p {
    font-size: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60%;
    margin-bottom: 12%;
    width: 90%;
  }

  a.call-to-action{
    font-size: 13px;
    margin-top: 10px;
  }

  .jambo-tron{
    background-image: url(banner-sm.png);
    height: 51rem;
    background-position: center;
    border-left: 2rem solid white;
    border-right: 2rem solid white;
    }

  header img {
      width: 50%;
      margin-left: 20%;
    }

  .what, .how{
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  .what h3 {
      width: 100%;
      margin-bottom: 10%;
      font-size: 2rem;
      padding-left: 2%;
      padding-right: 3%;
    }

  .what p {
      font-size: 14px;
      width: 100%;
      padding-left: 2%;
      padding-right: 3%;
    }

  .how{
      margin-bottom: 4rem;
      padding-top: 1rem;
      padding-bottom: 2rem;
    }

  .how h2{
    margin-bottom: 9%
  }

  .how .cards .card {
    background-color: #fff;
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 8%;
    padding-top: 4%;
    padding-left: 6%;
    padding-bottom: 4%;

  }

  .how .cards .card img {
    width: 20%;
    margin: 0;
    float: left;
  }

  .how .cards .card p {
    margin-left: 8%; 
    margin-right: 0;
    float: left;
    width: 53%;
    text-align: left;
    margin-top: 3%;
    line-height: 121%;
  }

  .quote p {
    margin-left: 10%;
    font-size: 21px;
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .jambo-tron-footer{
    height: 30rem;
    background-position: center;
    border-left: 2rem solid white;
    border-right: 2rem solid white;
    }

  .jambo-tron-footer p{
    width: 100%;
    font-size: 25px;
    margin-top: 34%;
    margin-left: 0;
  }

.jambo-tron-footer .get-in-touch{
    padding: 1rem 1rem;
    width: 75%;
    margin-left: 13%;
    font-size: 2.2rem;
  }
}










